body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
    color: #fff!important;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header */
.header{
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 15px 0;
}
.header_container{
    
}
.header__logo-container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}
.left_container{
    display: flex;
    align-items: center;
}
.logo{
    margin-right: 50px;
}
.right_container{
    position: absolute;
    right: 0;
    top: 0;
}
.right_container>a{
    font-size: 13px;
    color: #ffffff80;
    padding-left: 8px;
    text-decoration: none;
}
.right_container>a:hover{
    color: #ffffff80;
}
.header__menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.menu>.item{
    margin-right: 8px;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    transition: all 0.3s ease;
    padding-bottom: 1px;
}
.menu>.item:hover{
    border-bottom-color: #4a50e1;
}
.menu>.item:first-child{
    color: #DF2D6B;
}
.signIn>.enter{
   font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-decoration: none; 
}

.signIn>.icon>img{
    height: auto;
    width: 30px;
    filter: invert(1);
    margin-left: 8px;
}
.hidden_con{
    position: sticky;
    top: 142px;
    width: 100%;
    background-color: #000;
}


.content{
    height: 300vh;
}























