body{
    font-family: 'Roboto', sans-serif;
    background-color: #000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
}
.container_form{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.col-w{
    width: 50%;
    padding: 0 15px;
}
.error{
    padding: 5px;
    border: 2px solid red;
    color: red;
    border-radius: 5px;
    margin-bottom: 0;
    text-align: center;
    max-width: 492px;
    display: none;
    cursor: pointer;
}
.erroeL{
    max-width: 253px;
}
@media (max-width: 550px) {
    .col-w{
        width: 100%;
    }
    .container_form{
        flex-direction: column;
    }
    .main{
        height: 100%;
    }
}